<div class="panel panel-default">

    <div class="panel-heading">
        <h2>打造互联网第一支付平台</h2>
        <span>稳定</span>  <span>监控</span> <span>99.9999%</span>
    </div>


    <div class="col-md-6">
        <h2>服务监控</h2>
    </div>

    <div class="col-md-6">
        <h2>订单查询</h2>
    </div>

    <div class="col-md-6">
        <h2>订单查询</h2>
    </div>

</div>