<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">




    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">

        <property name="name" value="default"/>

        <property name="url" value="${jdbc_url_smartgarden}"/>
        <property name="username" value="${jdbc_username}"/>
        <property name="password" value="${jdbc_password}"/>

        <property name="driverClassName" value="${jdbc_driverClassName}"/>


        <property name="initialSize" value="${jdbc_initialSize}"/>
        <property name="minIdle" value="${jdbc_minIdle}"/>
        <property name="maxActive" value="${jdbc_maxActive}"/>


        <property name="maxWait" value="${jdbc_maxWait}"/>


        <property name="timeBetweenEvictionRunsMillis" value="${jdbc_timeBetweenEvictionRunsMillis}"/>


        <property name="minEvictableIdleTimeMillis" value="${jdbc_minEvictableIdleTimeMillis}"/>
        <property name="removeAbandoned" value="true"/>
        <property name="removeAbandonedTimeout" value="${jdbc_maxWait}"/>
        <property name="testWhileIdle" value="${jdbc_testWhileIdle}"/>
        <property name="testOnBorrow" value="${jdbc_testOnBorrow}"/>
        <property name="testOnReturn" value="${jdbc_testOnReturn}"/>
        <property name="validationQuery" value="${jdbc_validationQuery}"/>


    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <property name="mapperLocations"
                  value="classpath:mapper/**/*.xml"/>
    </bean>


    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.liuying.user.dao"/>

    </bean>



    <bean id="mybatisTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">

        <property name="dataSource" ref="dataSource"/>
    </bean>


    <tx:advice id="mybatisAdvice" transaction-manager="mybatisTransactionManager">
        <tx:attributes>
            <tx:method name="save*" propagation="REQUIRED" timeout="5"/>
            <tx:method name="insert*" propagation="REQUIRED" timeout="5"/>
            <tx:method name="add*" propagation="REQUIRED" timeout="5"/>
            <tx:method name="update*" propagation="REQUIRED" timeout="5"/>
            <tx:method name="delete*" propagation="REQUIRED" timeout="5"/>
            <tx:method name="remove*" propagation="REQUIRED" timeout="5"/>
            <tx:method name="accept*" propagation="REQUIRED" timeout="5"/>
            <tx:method name="reject*" propagation="REQUIRED" timeout="5"/>
            <tx:method name="execute*" propagation="REQUIRED" timeout="5"/>
            <tx:method name="del*" propagation="REQUIRED" timeout="5"/>
            <tx:method name="recover*" propagation="REQUIRED" timeout="5"/>
            <tx:method name="sync*" propagation="REQUIRED" timeout="5"/>
            <tx:method name="start*" propagation="REQUIRED" timeout="5"/>
            <tx:method name="stop*" propagation="REQUIRED" timeout="5"/>
            <tx:method name="import*" propagation="REQUIRED" timeout="5"/>
            <tx:method name="select*" read-only="true"/>
        </tx:attributes>
    </tx:advice>
</beans>