<!DOCTYPE html>
<html lang="en">
<body>


<div id="wrapper">
    <div class="custom-nav">
        #parse("/common/header.vm")
    </div>
    <div>
            <div>
                $screen_content
            </div>

    </div>
    <div>
        #parse("/common/footer.vm")
    </div>
</div>


</body>

</html>
